@media screen and (max-width: 823px){
  
    .cabecalho,.cabecalho ul{
        height: 130px;
    }
    li a{
        font-size: 35px;
    }
    .menu-principal{
        flex-direction: column;
        justify-content: center;
    }

    .titulo-guitarrista{
        width: 931px;
        height: 55px;
        font-size: 29px;

    }
    .imagem-guitarrista{
        height: 650px;
        width: 1010px;
    }
    .menu-titulo-tecnica{
        font-size: 30px;
    }
    .menu-texto-tecnica{
        font-size: 28px;
    }
    .imagem-tecnica{
        width: 850px;
        height: 410px;
    }

    .card-pesquisa{
        width: 970px;
        height: 260px;
        margin-bottom: 0;
    }
    .card-pesquisa-texto{
        font-size: 23px;
    }


    .menu-direito{
        position: relative;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        width: 1163px;
        height: 382px;
        margin: 270px auto;
    }
    .banner-atuacao{
        width: 306px;
        height: 430px;
        margin-left: auto;
    }
    .atuacao-texto{
        font-size: 27px;
        height: 224px;
    }
    .banner-execucao{
        margin: 0 30px;
        width: 306px;
        height: 430px;
    }
    .execucao-texto{
        font-size: 27px;
        height: 207px;
    }
    .banner-arte-sublime{
        width: 306px;
        height: 306px;
    }

    .texto-genero{
        font-size: 25px;
    }

    .titulo-dois{
        margin-top: 250px;
    }
    .categorias{
        margin-bottom: 300px;
    }
    .footer{
        height: 170px;
    }
    .footer-compartilha{
        height: 100px;
    }
    /* --------------------------------------------PAGINA SOBRE------------------------------------------ */

    .titulo-sobre{
        font-size: 50px;
        margin-bottom: 130px;
    }
    .texto-sobre{
        font-size: 36px;
    }
    .imagem-sala-aula{
        margin-bottom: 300px;
        margin-top: 100px;
    }
    /* ---------------------------------------PÁGINA CONTATO--------------------------------------- */
    .titulo-contato{
        margin-top: 150px;
        font-size: 45px;
    }
    .texto-contato{
        font-size: 30px;
        margin-bottom: 150px;
    }
    .formulario-cadastro {
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 708px;
        background-color: #580505;
        margin: 50px auto;
        border-radius: 5px;
        margin-bottom: 1410px;
    }
    .formulario-cadastro label{
        font-size: 35px;
    }
    .label-nome, .label-mensagem{
        margin-left: 61px;
    }
    .nome {
        width: 875px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .div-telefone-email {
        display: flex;
        width: 441px;
        margin: 0 0;
    }
    .telefone {
        width: 400px;
        height: 80px;
        margin-top: 10px;
    }
   .div-telefone{
       width: 400px;
       margin-left: 61px;

   }
    .div-email{
        margin-left: 66px;
    }
    .email {
        width: 400px;
        height: 80px;
        margin-top: 10px;
    }
    .mensagem{
        width: 875px;
        height: 180px;
    }

    .botao-enviar{
        width: 450px;
        height: 80px;
        margin-top: 17px;
    }
}